
.icon-arrow-left:before { content: '\e800'; } /* '' */
.icon-arrow-right:before { content: '\e801'; } /* '' */
.icon-arrow-up:before { content: '\e802'; } /* '' */
.icon-arrow-down:before { content: '\e803'; } /* '' */
.icon-chevron-left:before { content: '\e804'; } /* '' */
.icon-chevron-right:before { content: '\e805'; } /* '' */
.icon-chevron-up:before { content: '\e806'; } /* '' */
.icon-chevron-down:before { content: '\e807'; } /* '' */
.icon-more:before { content: '\e809'; } /* '' */
.icon-close:before { content: '\e813'; } /* '' */
.icon-android:before { content: '\e816'; } /* '' */
.icon-info:before { content: '\e817'; } /* '' */
.icon-user-circle:before { content: '\e818'; } /* '' */
.icon-checkmark:before { content: '\e819'; } /* '' */
.icon-search:before { content: '\e81a'; } /* '' */
.icon-bookmark:before { content: '\e81e'; } /* '' */
.icon-user:before { content: '\e825'; } /* '' */
.icon-backward:before { content: '\e826'; } /* '' */
.icon-minus:before { content: '\e827'; } /* '' */
.icon-edit:before { content: '\e82b'; } /* '' */
.icon-forward:before { content: '\e83b'; } /* '' */
.icon-reset:before { content: '\e83c'; } /* '' */
.icon-logout:before { content: '\e878'; } /* '' */
.icon-all-rounder:before { content: '\e893'; } /* '' */
.icon-checkmark-circle:before { content: '\f06d'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
